<main class="pt-5">
    <section class="mx-5">
        <h1 class="mb-5">Productos</h1>
        <div class="row justify-content-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://cdn0.onsalus.com/es/posts/0/8/2/que_pasa_si_se_mueve_el_implante_anticonceptivo_subdermico_22280_orig.jpg" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Implante subdérmico</h5>
                  <p class="card-text">Es una varilla flexible que contiene una hormona derivada de la progesterona, que evita la ovulación y hace más espeso el moco del cuello del útero, impidiendo el paso de los espermatozoides al interior del útero.</p>
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Precio {{ 1800 | currency:'MXN'}}</li>
                </ul>
            </div>
        </div>
    </section>
    <!-- OTRAS PAGINAS -->
    <hr>
    <section class="mx-5 mt-2">
        <div class="row m-0">
            <div class="col-12"><h3>También te puede interesar</h3></div>
            <div class="col-12"><a routerLink="../frecQ"><p><strong>Preguntas frecuentes</strong></p></a></div>
            <div class="col-12"><a routerLink="../mitos-implantes-sub"><p><strong>Mitos de sobre los implantes subérmicos</strong></p></a></div>
            <div class="col-12"><a routerLink="../ventajas-implantes-sub"><p><strong>Ventajas de los implantes subdérmicos</strong></p></a></div>
        </div>
    </section>
</main>