
<main class="pt-5">
    <div class="row m-0 justify-content-center">
        <div class="col-9">
            
            <div class="card animate__animated animate__fadeIn mb-3" *ngFor="let preg of preguntasFrecuentes;">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    
                    {{preg.pregunta}}
                </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    {{preg.respuesta}}
                </div>
                </div>
            </div>

        </div>
        
    </div>
</main>