
<main class="pt-5">
    <div class="row m-0 justify-content-center">
        <div class="col-9">
            
            <div class="card animate__animated animate__fadeIn" *ngFor="let preg of preguntasFrecuentes;">
                <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    
                    {{preg.pregunta}}
                </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    {{preg.respuesta}}
                </div>
                </div>
            </div>

        </div>
        
    </div>
    <hr>

    <!-- OTRAS PAGINAS -->
    <section class="mx-5 mt-2">
        <div class="row m-0">
            <div class="col-12"><h3>También te puede interesar</h3></div>
            <div class="col-12"><a routerLink="../frecQ"><p><strong>Preguntas frecuentes</strong></p></a></div>
            <div class="col-12"><a routerLink="../mitos-implantes-sub"><p><strong>Mitos de sobre los implantes subérmicos</strong></p></a></div>
            <div class="col-12"><a routerLink="../ventajas-implantes-sub"><p><strong>Ventajas de los implantes subdérmicos</strong></p></a></div>
        </div>
    </section>
</main>