<header class="p-2 border-bottom" style="display: block;position: sticky;top: 0;background-color: white;z-index: 99;">
    <div style="display: flex;">
        <img src="assets/images/logos/logo.png" alt="" height="85px" class="rounded logo">
        <div class="col"  style="display: flex;align-items: center;">
            <a routerLink="" ><h5>Inicio</h5></a>
            <a routerLink="prices" class="ml-3"><h5>Productos y Servicios</h5></a>
            <!-- <a routerLink="send-msj" class="ml-3"><h5>Reservar</h5></a> -->
    
            <div style="justify-content: end;display: flex;" class="col">
                <a href="https://www.facebook.com/marketplace/item/620767923538137/" target="_blank"><i class="bi bi-facebook" style="font-size: 25px;"></i></a>
            </div>
        </div>
    </div>
</header>

<router-outlet></router-outlet>
<app-floating-card></app-floating-card>
<hr>

    <!-- OTRAS PAGINAS -->
    <section class="mx-5 mt-2">
        <div class="row m-0">
            <div class="col-12"><h3>También te puede interesar</h3></div>
            <div class="col-12"><a routerLink="../faqs-implanon"><p><strong>Preguntas frecuentes sobre el implante</strong></p></a></div>
            <div class="col-12"><a routerLink="../mitos-implantes-sub"><p><strong>Mitos de sobre los implantes subérmicos</strong></p></a></div>
            <div class="col-12"><a routerLink="../ventajas-implantes-sub"><p><strong>Ventajas de los implantes subdérmicos</strong></p></a></div>
        </div>
    </section>
    <div class="footer">

    </div>