<main class="pt-5">
    
    
    <section class="mx-5">
        <h1 class="mb-5">Mitos sobre los implantes subdérmicos</h1>
        <div class="card-columns animate__animated animate__fadeIn">
            <div class="card" *ngFor="let mito of mitos">
                <img class="card-img-top" [src]="mito.img" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{mito.title}}</h5>
                  <p class="card-text">{{mito.mito}}</p>
                </div>
              </div>
        </div>
    </section>
   
</main>