<main class="pt-5">
    
    
    <section class="mx-5">
        <h1 class="mb-5">Mitos sobre los implantes subdérmicos</h1>
        <div class="card-columns animate__animated animate__fadeIn">
            <div class="card" *ngFor="let mito of mitos">
                <img class="card-img-top" [src]="mito.img" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{mito.title}}</h5>
                  <p class="card-text">{{mito.mito}}</p>
                </div>
              </div>
        </div>
    </section>
    <hr>
    <!-- OTRAS PAGINAS -->
    <section class="mx-5 mt-2">
        <div class="row m-0">
            <div class="col-12"><h3>También te puede interesar</h3></div>
            <div class="col-12"><a routerLink="../frecQ"><p><strong>Preguntas frecuentes</strong></p></a></div>
            <div class="col-12"><a routerLink="../mitos-implantes-sub"><p><strong>Mitos de sobre los implantes subérmicos</strong></p></a></div>
            <div class="col-12"><a routerLink="../ventajas-implantes-sub"><p><strong>Ventajas de los implantes subdérmicos</strong></p></a></div>
        </div>
    </section>
</main>